/* =========================
   RESET
========================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Montserrat',sans-serif;
    background:#F9FBFC;
    color:#363020;
    line-height:1.6;
    overflow-x:hidden;
}

.btn-whatsapp {
    position: fixed;
    bottom: 24px;
    right: 24px;

    width: 64px;
    height: 64px;

    border-radius: 50%;
    background: #25D366;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 4px 12px rgba(0,0,0,.3);

    z-index: 1000;

    transition: transform .3s ease;

    animation: pulse 2s infinite;
}

.btn-whatsapp:hover {
    transform: scale(1.08);
}

.btn-whatsapp img {
    width: 34px;
    height: 34px;
}

/* =========================
   HERO
========================= */

/* estado inicial (invisível) */
.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.6s ease;
}

/* quando ativa */
.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

.hero{

    min-height:100vh;

    padding:80px 10%;

    display:grid;

    grid-template-columns:1.3fr .9fr;

    gap:50px;

    align-items:center;

    background:
    linear-gradient(
        135deg,
        #C5E7E2 0%,
        #ffffff 100%
    );

}

.hero-content h1{

    font-size:4rem;

    line-height:1.05;

    color:#083D77;

    margin-bottom:25px;

    font-weight:800;

}

.hero-content p{

    font-size:1.1rem;

    max-width:650px;

    margin-bottom:35px;

    color:#555;

}

.tag{

    display:inline-block;

    background:#083D77;

    color:white;

    padding:10px 18px;

    border-radius:999px;

    font-size:.99rem;

    font-weight:700;

    margin-bottom:25px;

}

/* =========================
   HERO DESTAQUE
========================= */
/* 
.hero-highlight{

    background:white;

    padding:40px;

    border-radius:24px;

    box-shadow:
    0 20px 50px rgba(0,0,0,.08);

    border-top:8px solid #FFE347;

}

.highlight-badge{

    display:inline-block;

    background:#FFE347;

    color:#083D77;

    padding:8px 14px;

    border-radius:999px;

    font-size:.8rem;

    font-weight:700;

    margin-bottom:15px;

}

.hero-highlight a{

    color:#083D77;

    font-size:1.1rem;

    margin-bottom:10px;

    line-height: 1.2;

    text-decoration: none;

    flex-direction: column;

} */

/* .hero-highlight a{
    margin-top: 5px;

    color:#1B98E0;

    font-weight:800;

    text-decoration:none;

} */

.hero-highlight{

    background: white;
    padding: 40px;
    border-radius: 24px;

    box-shadow: 0 20px 50px rgba(0,0,0,.08);

    border-top: 8px solid #FFE347;

    display: flex;
    flex-direction: column;
}

.hero-highlight h3{

    color:#083D77;
    margin:0 0 20px;
    font-size:1.5rem;

}

.highlight-links{

    display:flex;
    flex-direction:column;

    gap:14px;

    max-height:260px;
    overflow-y:auto;

    padding-right:8px;

}

.hero-highlight a{

    color:#083D77;
    text-decoration:none;

    padding:12px 16px;

    border-radius:12px;

    background:#F8F9FA;

    transition:.3s;

    font-weight:500;

}

.hero-highlight a:hover{

    background:#FFE347;
    transform:translateX(5px);

}

.highlight-links::-webkit-scrollbar{
    width:6px;
}

.highlight-links::-webkit-scrollbar-thumb{
    background:#FFE347;
    border-radius:999px;
}

.highlight-links::-webkit-scrollbar-track{
    background:transparent;
}

/* =========================
   BOTÕES
========================= */

.hero-buttons{

    display:flex;

    gap:15px;

    flex-wrap:wrap;

}

.btn-primary{

    background:#083D77;

    color:white;

    padding:15px 28px;

    border-radius:14px;

    text-decoration:none;

    font-weight:700;

    transition:.3s;

}

.btn-primary:hover{

    background:#1B98E0;

    transform:translateY(-4px);

}

.btn-secondary{

    background:white;

    border:2px solid #083D77;

    color:#083D77;

    padding:15px 28px;

    border-radius:14px;

    text-decoration:none;

    font-weight:700;

}

/* =========================
   DESTAQUE
========================= */

.featured-section{

    padding:70px 10%;

}

.featured-card{

    background:#083D77;

    color:white;

    padding:50px;

    border-radius:25px;

}

.featured-card h2{

    font-size:2.5rem;

    margin-bottom:15px;

}

/* =========================
   SEÇÕES
========================= */

.section{

    padding:100px 10%;

}

.section-soft{

    background:#C5E7E2;

}

.section-dark{

    background:#083D77;

    color:white;

}

.section-title{

    text-align:center;

    margin-bottom:60px;

}

.section-title h2{

    font-size:3rem;

    color:#083D77;

    margin-bottom:15px;

}

.section-dark .section-title h2{

    color:white;

}

/* =========================
   GUIAS
========================= */

.guide-grid{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(250px,1fr));

    gap:25px;

}

.guide-card{

    background:white;

    padding:35px;

    border-radius:20px;

    box-shadow:
    0 10px 30px rgba(0,0,0,.06);

    transition:.3s;

    text-decoration: none;

    color: inherit;

    display: block;

}

.guide-card:hover{

    transform:translateY(-8px);

}

.guide-card h3{

    color:#083D77;

    margin-bottom:10px;

}

/* =========================
   TESTES
========================= */

.test-grid{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(280px,1fr));

    gap:25px;

}

.test-card{

    background:white;

    padding:35px;

    border-radius:20px;

    text-align:center;

    box-shadow:
    0 10px 30px rgba(0,0,0,.08);

}

.test-icon{

    font-size:2rem;

    display:block;

    margin-bottom:15px;

}

.test-card h3{

    color:#083D77;

    margin-bottom:12px;

}

.test-card a{

    display:inline-block;

    margin-top:20px;

    background:#FFE347;

    color:#083D77;

    text-decoration:none;

    font-weight:700;

    padding:10px 18px;

    border-radius:10px;

}

/* =========================
   NOTÍCIAS
========================= */

.news-layout{

    display:grid;

    grid-template-columns:2fr 1fr;

    gap:25px;

    

}

.news-featured{

    background:#083D77;

    color:white;

    text-decoration: none;
    padding:40px;

    border-radius:24px;

}

.news-featured span{

    
    color:#FFE347;

    font-weight:700;

}

.news-featured h3{
    text-decoration: none;

    font-size:2rem;

    margin:15px 0;

}

.news-side{

    text-decoration: none;
    display:flex;

    flex-direction:column;

    gap:20px;

}

.news-mini{
    text-decoration: none;

    background:white;

    padding:25px;

    border-radius:18px;
    color: inherit;
    box-shadow:
    0 8px 20px rgba(0,0,0,.06);

}

/* =========================
   TIMELINE
========================= */

.timeline{

    display:grid;

    grid-template-columns:
    repeat(4,1fr);

    gap:25px;

}

.timeline-item{

    background:white;

    color:#363020;

    padding:30px;

    border-radius:18px;

    text-align:center;

}

.timeline-item span{

    width:60px;

    height:60px;

    display:flex;

    align-items:center;

    justify-content:center;

    margin:auto auto 15px;

    border-radius:50%;

    background:#FFE347;

    color:#083D77;

    font-weight:800;

}

/* =========================
   CTA
========================= */

.cta{

    background:#FFE347;

    text-align:center;

    padding:120px 10%;

}

.cta h2{

    color:#083D77;

    font-size:3rem;

    margin-bottom:15px;

}

.cta p{

    max-width:700px;

    margin:auto auto 35px;

}

/* =========================
   FOOTER
========================= */

footer{

    background:#363020;

    color:white;

    text-align:center;

    padding:35px;

}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(37,211,102,.6);
    }
    70% {
        box-shadow: 0 0 0 15px rgba(37,211,102,0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(37,211,102,0);
    }
}

/* =========================
   RESPONSIVO
========================= */

@media(max-width:900px){

    .hero{

        grid-template-columns:1fr;

    }

    .news-layout{

        grid-template-columns:1fr;

    }

    .timeline{

        grid-template-columns:1fr 1fr;

    }

}

@media(max-width:768px){



    .hero{
        min-height: 80vh;
        padding:70px 8%;
    

    }
      .btn-whatsapp {
        width: 54px;
        height: 54px;

        bottom: 16px;
        right: 16px;
    }

    .btn-whatsapp img {
        width: 28px;
        height: 28px;
    }
    .section{

        padding:80px 8%;

    }

    .hero-content h1{
        align-items: center;
    
        font-size:2.1rem;

    }

    .section-title h2{

        font-size:2.2rem;

    }

    .featured-card h2{

        font-size:2rem;

    }

    .timeline{

        grid-template-columns:1fr;

    }

    .hero-buttons{

        flex-direction:column;

    }
    .hero-highlight{
        margin-top: -30px;
        padding:24px;
    }

    .hero-highlight h3{
        font-size:1.2rem;
    }

    .highlight-links{
        max-height:220px;
    }

    .hero-highlight a{
        font-size:.95rem;
    }
    }

}